        /*BODY*/
        body {
          background-color:var(--color-body);
          color:var(--color-text);
           
        }
        
        html{
        --uk-f: 14px;
        }
        html.darkmode #header img {
          filter: invert(100%);
        }
        html.darkmode .logos{
          filter: invert(100%);
        }
        html.darkmode .card-img-top{
          filter: invert(100%);
        }
        html.darkmode .img-fluid{
          filter: invert(100%);
        }
        html.darkmode .img-popular{
          filter: invert(100%);
        }
        html.darkmode .card-img-top-yio{
          filter: invert(100%);
        }
        html.darkmode .img-profi{
          filter: invert(1%);
          
        }
        html.darkmode.separator img{
          filter: invert(100%);
        }
        .thumbnail{
          display:none;
        }
        .separator{
        width:100%;
        padding:4px;
        }
        .p-1{
          padding:5px;
        }
        .p-2{
          padding:10px;
        }
        
        img{
        border-radius:5px;
        }
        
        h1{
        font-size:18px;
        }
        h2{
        font-size:16px;
        }
        h3{
        font-size:14px;
        }
        h4{
        font-size:12px;
        }
        h5{
        font-size:10px;
        }
        h6{
        font-size:8px;
        }
        p{
        font-size:14px;
        }
        
        /*Related Post*/
        #relatedposts {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        
        .container-rel{
        background-color:var(--bg-white);
        border-radius:5px;
        }
        
        .container-rel {
          width: calc(33% - 7px);
          margin-bottom: 20px;
        }
        
        @media screen and (max-width: 767px) {
          .container-rel {
            width: calc(50% - 7px);
          }
        }
        
        .related-kon {
          position: relative;
          overflow: hidden;
        }
        
        .thumbnail-rel {
          display: block;
          position: relative;
        }
        
        .thumbnail-rel img {
          display: block;
          width: 100%;
          height: auto;
        }
        
        .title-rel {
          margin-top: 10px;
          font-size: 13px;
          line-height: 1.2;
          text-align: center;
          margin-bottom:5px;
        }
        
        .title-rel a {
          color: var(--color-text);
          text-decoration: none;
        }
        
        .title-rel a:hover {
          color: var(--a-color);
        }
        
        
        .title{
        display:none;
        }
        
        /*LAbel*/
        .post-footer-line-1 {
          font-size:12px;
          display: flex;
          align-items: center;
        }
        
        .post-footer-line-1 a,
        .post-footer-line-1 span {
          display: flex;
          align-items: center;
        }
        
        .post-footer-line-1 span svg,
        .post-footer-line-1 a svg {
        }
        
        .icon-svg {
          width: 13px;
          height: 13px;
          margin-right:2px;
        }
        
        mark{
        bakcground-color:var(--bg-mark);
        }
        
        /*PINNED POST*/
        #pinned-post{
        background-color: var(--bg-white);
        padding: 10px;
        border-radius: 5px;
        position: relative;
        overflow-y: auto;
        }
        
        #pinned-post {
          position: relative;
        }
        .icon-pin {
          position: absolute;
          top: 0;
          right: 0;
        }
        
        .post-summary img {
        width: 100%;
        height: auto;
        margin-top: 1px;
        border-radius: 10px;
        float: left;
        margin-right: 20px;
        margin-bottom:10px;
        }
        .post-summary p {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 10px;
        }
        
        @media screen and (min-width: 768px) {
        .post-summary .col-md-4 {
        width: 30%;
        }
        
        .post-summary p {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 30px;
        }
        
        .post-summary .col-md-8 {
        width: 70%;
        margin-top: 10px;
        }
        
        .post-summary .col-md-4 img {
        float: left;
        margin-right: 20px;
        }
        }
        
        /* Artikel */
        .blog-post {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        
        .kolom {
          position: relative;
          background-color: var(--bg-white);
          width: calc(50% - 4px);
          padding: 5px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          border-radius:7px;
        }
        .kolom svg{
         margin-right:2px;
         width:18px;
         height:18px;
        }
        .card-img-top {
          width: 100%;
          height: 90px;
          margin-bottom:2px;
          object-fit: cover;
          border-radius: 10px;
        }
        
        .snipettt {
          display: none;
        }
        
        @media screen and (min-width: 768px) {
          .kolom {
            padding: 10px;
            margin: 10px 0 20px;
            background-color: var(--bg-white);
            width: calc(33.33% - 10px);
            height: auto;
          }
          .snipettt {
            font-size:13px;
            display: block;
            margin-bottom:10px;
          }
          .card-img-top {
            width: 100%;
            height: 130px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .start-post{
        background-color:var(--bg-white);
        padding:10px;
        border-radius:7px;
        font-size:14px;
        }
        /*pg*/
        #blog-pager a.home-link {display:none}
        #blog-pager {padding:0;margin:5px auto; text-align:center;}
        #blog-pager-older-link {float:none; display:block}
        #blog-pager-older-link img {max-height:50px}
        #blog-pager-older-link a {background:#008c5f; color:#fff; font-size:14px; font-weight:600; border-radius:3px; padding:10px 20px; display:inline-block; position:relative; transition:0.3s}
        #blog-pager-older-link a:hover {background:#ed4044}
        .blog-post{margin-bottom:20px;}
        
        
        /* CARD YUIO*/
        .card-yio {
          width: 100%;
          background-color: var(--bg-white);
          border: 1px solid #d1d1d1;
          border-radius: 5px;
          margin-bottom: 20px;
          overflow: hidden;
        }
        
        .card-img-top-yio {
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        
        @media (max-width: 768px) {
          .card-img-top-yio {
            height: 200px;
            max-width: 100%;
          }
        }
        
        .card-body-yio {
          padding: 20px;
          height: auto;
        }
        
        .published-yio {
          font-size: 12px;
          color: var(--warna-text);
          margin-top: -80px;
        }
        
        
        .published-yio time {
          font-weight: bold;
          color: var(--warna-text);
        }
        
        /* SEARCH FORM */
        .pencarian-yio {
          display:none;
          width:80%;
          background-color: var(--bg-white);
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 999;
          padding: 20px;
          border-radius:10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          animation: pencarian-yio-animasi 0.3s ease;
        }
        
        @media screen and (min-height: 768px) {
          .pencarian-yio {
            width: 50%;
            height: 40%;
          }
          
          /* Menggunakan flexbox untuk input dan button */
          .pencarian-yio .search-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          
          /* Memperbarui lebar input */
          .search-input input[type="text"] {
            width: calc(100% - 110px);
            padding-right: 10px;
          }
          
          /* Memperbarui style tombol */
          .pencarian-yio .search-submit input[type="submit"] {
            width: 100px;
            margin-left: 10px;
            background-color: var(--primary);
            color: var(--color-text);
            border-radius: 0;
            padding: 10px;
            border: none;
            cursor: pointer;
          }
          
          /* Memperbarui style tombol saat dihover */
          .pencarian-yio .search-submit input[type="submit"]:hover {
            background-color: var(--primary-dark);
          }
        }
        
        .blur {
          filter: blur(5px);
        }
        
        .close-button {
        position: absolute;
        top: -5px;
        right: -5px;
        border: none;
        background: none;
        font-size: 30px;
        color: var(--color-text);
        cursor: pointer;
        }
        
        @keyframes pencarian-yio-animasi {
          from {
            top: -100%;
          }
          to {
            top: 50%;
          }
        }
        
        /* Menambahkan style untuk tombol btn-primary */
        .pencarian-yio .btn-primary {
          height:34px;
          position: absolute;
          top: 23px;
          right: 23px;
        }
        
        /*Background*/
        .bg-blue{
        background-color:var(--btn-primary);
          color: var(--warna-text-btn);
        }
        
        .bg-red{
        background-color:var(--btn-danger);
          color: var(--warna-text-btn);
        }
        
        .bg-green{
        background-color:var(--btn-success);
          color: var(--warna-text-btn);
        }
        
        /*button*/
        .btn-line-success {
          background-color: var(--bg-white);
          border: solid 1px var(--btn-success);
          color: var(--color-text);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          border-radius: 4px;
          cursor: pointer;
          margin:2px;
        }
        
        .btn-line-danger {
          background-color: var(--bg-white);
          border: solid 1px var(--btn-danger);
          color: var(--color-text);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          border-radius: 4px;
          cursor: pointer;
          margin:2px;
        }
        
        .btn-line-primary {
          background-color: var(--bg-white);
          border: solid 1px var(--btn-primary);
          color: var(--color-text);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          border-radius: 4px;
          cursor: pointer;
          margin:2px;
        }
        
        
        .btn-success {
          background-color: var(--btn-success);
          border: none;
          color: var(--warna-text-btn);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          border-radius: 4px;
          cursor: pointer;
          margin:2px;
        }
        
        .btn-danger {
          background-color: var(--btn-danger);
          border: none;
          color: var(--warna-text-btn);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          border-radius: 4px;
          cursor: pointer;
          margin:2px;
        }
        
        .btn-primary {
          background-color: var(--btn-primary);
          border: none;
          color: var(--warna-text-btn);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          border-radius: 4px;
          cursor: pointer;
          margin:2px;
        }
        
        .btn-sm {
        padding: 5px 10px;
        font-size: 13px;
        }
        
        .btn-lg {
        padding: 12px 22px;
        font-size: 15px;
        }
        
        .btn-block {
        display: block;
        margin-bottom: 10px;
        }
        
        .btn-icon {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        }
        .btn-icon-only {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        }
        .btn-icon svg {
        margin-right: 10px;
        }
        
        input[type="text"] {
          margin-bottom:5px;
          padding: 10px;
          border: 1px solid var(--color-text);
          border-radius: 5px;
          box-shadow: none;
          font-size: 16px;
          color: var(--color-text);
          background-color: var(--bg-white);
          width: 100%;
          box-sizing: border-box;
        }
        
        /*POStingan populer*/
        .post-popu {
        border-radius:10px;
        padding:10px;
        background-color: var(--bg-white);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
        .popuslar{
        font-size:13px;
        }
        
        .post {
          padding:6px;
          margin-bottom: 6px;
          position: relative;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius:4px;
        }
        
        .post-popu article {
        counter-increment: number;
        }
        
        .post-popu article::before {
        content: counter(number);
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        display: inline-block;
        }
        
        .post:before {
        content: counter(post) ".";
        counter-increment: post;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        }
        
        .item-thumbnail {
        flex-basis: 100%;
        max-height: 200px;
        }
        
        .item-thumbnail img {
        border-radius:20px;
        width: 100%;
        height: 100px;
        object-fit: cover;
        }
        
        .post-title {
        font-size:14px;
        margin-top: 0;
        }
        
        @media only screen and (max-width: 768px) {
        .post {
        flex-basis: calc(50% - 20px);
        }
        }
        
        @media only screen and (max-width: 480px) {
        .item-thumbnail {
        margin-right: 0;
        }
        }
        
        /*FOOTER*/
        
        .container-footer {
            max-width: 1110px;
            margin: 0 auto;
            position: relative;
            padding: 1rem;
            font-size:13px;
        }
        
        .copyright {
          padding: 2rem 0 0 0;
          font-weight: 300;
          color: var(--color-text);
          text-align: center;
        }
        .copyright a{
          color:var(--a-color);
        }
        
        /*SOROtAN*/
        .sorotan {
          padding:10px;
          font-size:13px;
          margin-bottom:10px;
          background-color:var(--bg-white);
          display: flex;
          align-items: center;
          white-space: nowrap;
          border-radius:6px;
        }
        
        .sorotan #sorotanku {
          margin-left: 10px;
          overflow: hidden;
          white-space: nowrap;
        }
        
        .sorotan #sorotanku marquee {
          display: inline-block;
          animation: marquee 2s linear infinite;
        }
        .sorotan a{
          color: var(--a-color); /* warna teks */
          text-decoration: none; /* hilangkan garis bawah */
          font-weight: bold; /* tebal */
          font-size: 13px; /* ukuran teks */
          /* tambahkan properti lain sesuai kebutuhan */
        }
        .sorotan svg{
          width:25px;
          margin-right:3px;
        }
        /*Pdsaasd*/
        .postingan-brbr {
        padding: 10px;
        background-color: var(--bg-white);
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius:6px;
        }
        
        .postingan-brbr-kiri {
        font-size:13px;
        display: flex;
        align-items: center;
        }
        
        .postingan-brbr-kiri svg {
        margin-right: 5px;
        }
        
        .postingan-brbr-kanan {
        display: flex;
        align-items: center;
        }
        
        .toggle {
          display: inline-block;
          position: relative;
          width: 40px;
          height: 24px;
        }
        
        .toggle input[type="checkbox"] {
          display: none;
        }
        
        .toggle .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: transform 0.2s ease-in-out;
        }
        
        .toggle input[type="checkbox"]:checked + .icon {
          transform: translate(-50%, -50%) rotate(90deg);
        }
        
        
        /* LABEL */
        .widget-content.list-label-widget-content ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          list-style: none;
          padding: 0;
          background-color: var(--bg-white);
          padding: 10px;
          border-radius: 10px;
        }
        
        .widget-content.list-label-widget-content ul li {
          border: 1px solid var(--color-text);
          padding:5px;
          margin: 0;
          border-radius:3px;
        }
        
        .label-icon {
          float: right;
          margin-left: 10px;
        }
        .btn-show-all {
          display: inline-block;
          padding: 0.5em 1em;
          border: 1px solid #ccc;
          background-color: #f2f2f2;
          color: #333;
          text-align: center;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        
        .btn-show-all:hover,
        .btn-show-all:focus {
          background-color: #ccc;
        }
        
        .labeli-sasi span:nth-of-type(n+2) {
        display: none;
        }
        
        .labeli-sasi-post span:nth-of-type(n+3) {
        display: none;
        }
        
        .datetisasi {
          margin-top: -10px;
        }
        
        .card-img-top {
        position: relative;
        }
        
        .list-labelisasi {
        padding:15px;
        position: absolute;
        top: 0;
        right: 0;
        }
        
        .labelbel {
          display: flex;
          align-items: center;
          background-color: var(--bg-white);
          padding: 3px;
          border-radius: 4px;
          font-size:12px;
          box-shadow: 0 0 0.6px var(--color-text);
        }
        .labelbel svg{
          width:18px;
        }
        
        .taitel{
          margin-top:4px;
          margin-bottom: 10px;
          font-size:15px;
          font-weight: 630;
        }
        @media only screen and (max-width: 767px) {
          .taitel {
            margin-top:4px;
            margin-bottom: 30px !important;
            font-size:13px;
          }
        }
        
        .datetisasi {
          font-size: 11px;
          display: flex;
          position: absolute;
          align-items: center;
          bottom:5px;
        }
        
        
        .wadah-ladate{
          margin-top:10px;
        }
        
        hr {
          border: none;
          margin-top: 7px;
          margin-bottom: 7px;
          opacity: 0;
        }
        
        p.pin-snipettt{
        font-size:13px;
        }
        #pinned-post h2{
        font-size:15px;
        font-weight:600;
        }
        /*UL_SIDE*/
          .sider-ul {
          font-size:13px;
          list-style-type: none;
          margin-left:-35px;
        }
          .sider-ul svg{
        width:20px;
        }
        .sub-content {
          list-style-type: none;
          margin-top:10px;
          display: block;
          margin-left:0;
        }
        .sub-content li{
          margin-bottom:10px;
        }
        .main-content {
          cursor: pointer;
        }
        .main-content {
          display: flex;
          align-items: center;
          gap: 10px; /* Jarak antara ikon dan teks */
        }
        
        .arrow {
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          border-top: 0.2rem solid currentColor;
          border-right: 0.2rem solid currentColor;
          transform: rotate(-225deg);
          transition: transform 0.2s ease-in-out;
          float: right;
          position: relative;
          right: 0;
        }
        
        .nama-yio {
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: center;
        }
        
        .nama-yio li {
          display: inline-block;
          margin-right: 10px;
          margin-top:40px;
        }
        .nama-yio svg{
          width:20px;
        }
        
        /*dark mode*/
        .dark-mode-switch {
          margin-right:8px;
          display: flex;
          align-items: center;
        }
        
        .dark-mode-switch input[type="checkbox"] {
          display: none;
        }
        
        .dark-mode-switch label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 24px;
          cursor: pointer;
          background-color: #fff;
          border-radius: 24px;
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
          margin-left: 8px;
        }
        
        .dark-mode-switch .moon, .dark-mode-switch .sun {
          width: 20px;
          height: 20px;
          fill: #000;
          color: #fff;
          transition: opacity 0.2s ease-in-out;
        }
        
        .dark-mode-switch .moon {
          opacity: 0;
          margin-right: 4px;
        }
        
        .dark-mode-switch .sun {
          opacity: 1;
          margin-left: 4px;
        }
        
        .dark-mode-switch input[type="checkbox"]:checked + label {
          background-color: #fefefe;
        }
        
        .dark-mode-switch input[type="checkbox"]:checked + label .moon {
          opacity: 1;
        }
        
        .dark-mode-switch input[type="checkbox"]:checked + label .sun {
          opacity: 0;
        }
        
        .dark-mode-switch {
          display: inline-block;
        }
        .dark-mode-switch {
          float: right;
        }
        
        /*NOTE*/
        .note {
          border-radius: 5px;
          overflow: hidden;
          padding: 15px;
          margin-top:15px;
          margin-bottom:15px;
        }
        .note p{
          font-size:13px;
        }
        .note-success {
          background-color: var(--note-success-bg);
          border-color: var(--note-success-border);
          color: var(--note-success-color);
        }
        
        .note-warning {
          background-color: var(--note-warning-bg);
          border-color: var(--note-warning-border);
          color: var(--note-warning-color);
        }
        
        .note-danger {
          background-color: var(--note-danger-bg);
          border-color: var(--note-danger-border);
          color: var(--note-danger-color);
        }
        
        .note-blue {
          background-color: var(--note-blue-bg);
          border-color: var(--note-blue-border);
          color: var(--note-blue-color);
        }
        
        .alert-noted {
          font-weight: bold;
          position: relative;
        }
        
        .alert-noted::before {
          content: ".";
          position: absolute;
          margin-right: 5px;
          background-color: rgba(21, 87, 36, 0.2);
          color: var(--note-success-color);
          border-radius: 50%;
          padding: 70px;
          top: -120px;
          left: -75px;
        }
        
        .alert-noted::after {
          content: ".";
          position: absolute;
          margin-right: 5px;
          background-color: rgba(21, 87, 36, 0.2);
          color: var(--note-success-color);
          border-radius: 50%;
          padding: 70px;
          bottom: -220px;
          right: -75px;
        }
        /*PRE CODE*/
        pre code {
          position: relative;
          width: 100%;
          font-family: Consolas, monospace;
          font-size: 14px;
          line-height: 1.5;
          background-color: #181c19;
          color: #1d993e;
          border-radius: 5px;
          padding: 10px;
          overflow-x: auto;
          max-height: 400px;
          overflow-y: scroll;
          z-index:1;
        }
        
        pre {
          position: relative;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        
        code {
          position:relative;
          display: inline-block;
          padding: 5px;
        }
        
        code[data-language]::before {
          content: attr(data-language) " ";
          font-size: 14px;
          color: #999;
          border-bottom: 2px solid #fefefe;
        }
        
        code::before,
        code::after {
          content: "--";
          color: #333;
        }
        
        code::before {
          margin-right: 5px;
        }
        
        code::after {
          margin-left: 5px;
        }
        
        .copy-button {
          position: absolute;
          top: 0px;
          right: 0px;
          padding: 5px 10px;
          font-size: 13px;
          background-color: var(--note-success-bg);
          color: var(--note-success-text);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          z-index:2;
        }
        
        
        /*Marker*/
        .marker {
          background-color: var(--marker-bg);
          font-weight: bold;
          color:var(--marker-text);
          border-radius:4px;
          padding:1px;
        }
        
        /*Tabel*/
        .table-responsive {
          overflow-x: auto;
          font-size:13px;
        }
        
        table {
          width: 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          background-color: transparent;
        }
        
        table th,
        table td {
          padding: 0.75rem;
          vertical-align: top;
          border-top: 1px solid #dee2e6;
          border: 1px solid #ccc;
        }
        
        table thead th {
          vertical-align: bottom;
          border-bottom: 2px solid #dee2e6;
        }
        
        table tbody + tbody {
          border-top: 2px solid #dee2e6;
        }
        
        table-sm th,
        table-sm td {
          padding: 0.3rem;
        }
        
        @media (max-width: 575.98px) {
          .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
        
          .table-responsive > table {
            margin-bottom: 0;
            background-color: transparent;
          }
        
          .table-responsive > table > thead > tr > th,
          .table-responsive > table > tbody > tr > th,
          .table-responsive > table > tfoot > tr > th,
          .table-responsive > table > thead > tr > td,
          .table-responsive > table > tbody > tr > td,
          .table-responsive > table > tfoot > tr > td {
            white-space: nowrap;
          }
        
          .table-responsive > table-bordered {
            border: 0;
          }
        
          .table-responsive > .table-bordered > thead > tr > th:first-child,
          .table-responsive > .table-bordered > tbody > tr > th:first-child,
          .table-responsive > .table-bordered > tfoot > tr > th:first-child,
          .table-responsive > .table-bordered > thead > tr > td:first-child,
          .table-responsive > .table-bordered > tbody > tr > td:first-child,
          .table-responsive > .table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
          }
        
          .table-responsive > .table-bordered > thead > tr > th:last-child,
          .table-responsive > .table-bordered > tbody > tr > th:last-child,
          .table-responsive > .table-bordered > tfoot > tr > th:last-child,
          .table-responsive > .table-bordered > thead > tr > td:last-child,
          .table-responsive > .table-bordered > tbody > tr > td:last-child,
          .table-responsive > .table-bordered > tfoot > tr > td:last-child {
            border-right: 0;
          }
        
          .table-responsive > .table-bordered > tbody > tr:last-child > th,
          .table-responsive > .table-bordered > tfoot > tr:last-child > th,
          .table-responsive > .table-bordered > tbody > tr:last-child > td,
          .table-responsive > .table-bordered > tfoot > tr:last-child > td {
            border-bottom: 0;
          }
        }
        
        /*Dummy Iklan*/
        .iklan-dummy {
          margin-bottom:10px;
          margin-top:3px;
          display: flex;
          justify-content: center;
          align-items: center;
          border:1px solid;
          color: var(--color-text);
          font-size: 13px;
          font-weight: bold;
          height: 70px;
          width: 100%;
          border-radius:6px;
        }
        
        @media (max-width: 768px) {
          .iklan-dummy {
            font-size: 16px;
          }
        }
        
        @media (max-width: 576px) {
          .iklan-dummy {
            font-size: 14px;
          }
        }
        
        .iklan-dummy::before {
          content: attr(data-text);
          font-size: 12px;
        }
        
        /*Komentar Post*/
        .comment-replies{
        margin-top:10px;
        margin-bottom:8px;
        }
        
        .thread-count{
        display:none;
        }
        /* Mengatur posisi gambar avatar */
        .avatar-image-container {
        float: left;
        margin-right: 10px;
        margin-left: -40px;
        }
        
        /* Menghilangkan tautan hapus */
        .item-control.blog-admin.blog-admin{
        display: none;
        }
        
        /* Menambahkan warna latar belakang ke tautan balasan */
        .comment-reply {
        background-color: blue;
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
        font-size:10px;
        }
        
        /* Menghapus tanda jumlah komentar */
        .thread-count {
        display: none;
        }
        
        #top-ra li{
        list-style-type: none;
        }
        
        .comment{
        margin-bottom:10px;
        }
        
        .comment-block{
        background-color:var(--bg-white);
        border-radius:5px;
        padding:5px;
        }
        
        .comments{
        margin-top:10px;
        font-size:13px;
        margin-bottom:10px;
        border-radius:5px;
        padding:5px;
        }
        .comment-content{
        font-size:13px;
        }
        .comment-replybox-thread{
        display:none;
        }
        .comment-header{
        border-radius:5px;
        padding:5px;
        }
        .datetime.secondary-text {
           display: block;
        }
        .user {
           font-style: normal;
           font-size:13px;
           font-weight:600;
           margin-bottom:3px;
        }
        .datetime.secondary-text {
           font-size: 12px;
        }
        
        
        /*TOC*/
        /*#yio-toc {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        }
        
        #yio-toc h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        }
        
        #yio-toc ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        
        #yio-toc li {
        margin-bottom: 5px;
        }
        
        #yio-toc a {
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        }
        
        #yio-toc a:hover {
        color: #000;
        text-decoration: underline;
        }*/
        
        /*ads Anchor*/
        .stickAd {
         position: fixed;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         min-height: 70px;
         max-height: 200px;
         padding: 5px 5px;
         box-shadow: 0 -6px 18px 0 rgba(9, 32, 76, 0.1);
         transition: all 0.1s ease-in;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: var(--bg-white);
         z-index:150;
         border-top: 1px solid var(--color-text);
        }
        .stickAdclose {
         width: 40px;
         height: 30px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 12px 0 0;
         border: 1px solid var(--color-text);
         border-bottom: 0;
         border-right: 0;
         position: absolute;
         right: 0;
         top: -30px;
         background-color: inherit;
        }
        .stickAdclose svg {
         width: 18px;
         height: 18px;
         fill: none !important;
         stroke: var(--color-text);
         stroke-linecap: round;
         stroke-linejoin: round;
         stroke-width: 1;
        }
        .stickAdcontent {
         flex-grow: 1;
         overflow: hidden;
         display: block;
         position: relative;
        }
        .stickAdin:checked ~ .stickAd {
         padding: 0;
         min-height: 0;
        }
        .stickAdin:checked ~ .stickAd .stickAdcontent {
         display: none;
        }
        .stickAdin:checked ~ .stickAd .stickAdclose svg {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
        }
        
        
        .hidden{
        display:none;
        }
        
        /*nav-bot*/
        .navbar-bottom {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: var(--bg-white);
          border-radius: 5px 5px 0 0;
          color: var(--color-text);
          text-align: center;
          padding: 10px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
          z-index:120;
          font-size:10px;
        }
        html.darkmode .navbar-bottom{
          border:solid 0.1px var(--color-text);
        }
        .navbar-bottom a {
          color: var(--color-text);
          text-decoration: none;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .navbar-bottom #mode-t-g {
          color: var(--color-text);
          text-decoration: none;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .navbar-bottom #top {
          color: var(--color-text);
          text-decoration: none;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .navbar-bottom svg {
          width: 20px;
          height: 20px;
          fill: var(--color-text);
          margin-bottom: 5px;
        }
        
        #dark-mode-btn {
          background-color: #444;
          color: #fff;
          border: none;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
        
        /*List symbol*/
        .list-number {
          font-size:13px;
          counter-reset: item;
        }
        
        .list-number li {
          list-style-type: none;
          position: relative;
          padding-left: 45px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }
        
        .list-number li:before {
          content: counter(item);
          counter-increment: item;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid blue;
          box-sizing: border-box;
          text-align: center;
          line-height: 25px;
          font-weight: bold;
        }
        
        .list-number li span {
          margin-left: 10px;
        }
          
        .list-symbol {
        counter-reset: item;
        list-style: none;
        padding-left: 0;
        }
        
        .list-symbol li {
        list-style-type: none;
        position: relative;
        counter-increment: item;
        padding-left: 30px;
        margin-bottom: 10px;
        padding-left: 45px;
        margin-bottom: 20px;
        }
        
        .list-symbol li:before {
        content: counter(item, upper-roman);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid blue;
        box-sizing: border-box;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        }
        
        .list-symbol li span {
        margin-left: 10px;
        }
        
        /*TOC*/
        .level-1 {
          font-weight: bold;
          font-size: 1.2rem;
        }
        
        .level-2 {
          margin-left: 16px;
        }
        
        .level-3 {
          margin-left: 32px;
        }
        
        #oto-toc ul {
          list-style: none;
          padding: 0;
        }
        
        .h-toc{
          border-radius: 5px;
          padding:10px;
          margin-bottom:10px;
        }
        
        .h-toc span{
          font-weight: bold;
          font-size: 16px;
        }
        
        #oto-toc {
          background-color: var(--bg-toc);
          border: 1px solid var(--color-text);
          padding: 10px;
          border-radius: 5px;
        }
        
        #oto-toc ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        
        #oto-toc li {
          margin: 5px 0;
        }
        
        #oto-toc a {
          color: var(--color-text);
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
        }
        
        #oto-toc a:hover {
          background-color: var(--color-text);
          color: var(--bg-white);
        }
        
        #oto-toc a.active {
          background-color: var(--color-text);
          color:  var(--bg-white);
        }
        
        #oto-toc .level-2 {
          font-size:14px;
          font-weight: bold;
        }
        
        #oto-toc .level-3 {
          margin-left: 20px;
          font-size:13px;
        }
        
        /*Loading Lazy*/
        .lazy {
          opacity: 0.1;
          transition: opacity 1s ease-in-out;
        }
        
        .lazy.loaded {
          opacity: 1;
        }
        
        .label-name{
         font-size:13px;   
        }
        .tampilkan-semua{
         font-size:13px;
        }
        .postinganku a{
        color:var(--a-color);
        }
        
        .img-profi{
        width:90px;
        height:90px;
        border-radius:50%;
        }
		
		/*BACA*/
        .putarartikel {
		font-size:12px;
        display: flex;
        justify-content: space-between;
	    align-items: center;
        }

        #pemutaran {
        order: 2;
        color:var(--a-color);
        }

        .baca-kah {
        order: 1;
        }
        .play-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #pemutaran {
          display: flex;
          align-items: center;
          justify-content: center;
        }
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}
